<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Webpack App</title>
  </head>

  <body style="display: flex; flex-direction: column; align-items: center">
    <h1>Hello Webpack !!!</h1>
    <h1>Нажмите кнопку для открытия s</h1>
    {% if condition %}
      asdasdasd
    {% elif condition %}
      asdasdasd
    {% else %}
      asdasd
    {% endif %}
    <a class="link" href="./nine.html">Nine</a>
  </body>
</html>
