<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Первая</title>
  </head>
  <body>
    <div class="container">
      <a class="link" href="./two.html">Two</a>

      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1524413840807-0c3cb6fa808d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        "
      >
        <h3>Infinity Power</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1522548665147-390c295cd637?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80');
        "
      >
        <h3>Yu Kato</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1533050487297-09b450131914?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        "
      >
        <h3>Ooops</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1613487957484-32c977a8bd62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
        "
      >
        <h3>Ohayo</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1493515322954-4fa727e97985?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        "
      >
        <h3>Yooooo</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1608874973445-de098faf870f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
        "
      >
        <h3>:3</h3>
      </div>
      <div
        class="slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1559981421-3e0c0d712e3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1016&q=80');
        "
      >
        <h3>Ohhh</h3>
        <p>asdasdasd</p>
      </div>
    </div>
  </body>
</html>
