{% extends "src/components/layouts/default.njk" %}

{% import "src/components/button.njk" as button %}

{% block left %}
    This is the left side!
    {{ button.field('pass', type='password') }}
{% endblock %}
