<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Пятая</title>
  </head>
  <body>
    <a class="link" href="./six.html">Six</a>
    <div class="container">
      <div class="sidebar">
        <div style="background: linear-gradient(229.99deg, #643c01 -26%, #4d003a 145%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cupiditate eligendi eum,
            eveniet nulla quas quo quos reiciendis unde? Distinctio eius facere illum itaque, iure vitae. Ab, fuga quo.
          </p>
        </div>
        <div style="background: linear-gradient(215.32deg, #032cf9 -1%, #9e0706 124%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis cupiditate distinctio esse eveniet
            expedita impedit labore laboriosam, magni maxime minus modi nemo nesciunt nisi nostrum possimus qui
            repellendus vitae?
          </p>
        </div>
        <div style="background: linear-gradient(221.87deg, #777676 1%, #860101 128%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A et minima nostrum provident! A atque dicta
            doloribus esse excepturi, fuga fugit incidunt maiores minus mollitia neque pariatur, rem, saepe
            voluptatibus.
          </p>
        </div>
        <div style="background: linear-gradient(220.16deg, #590385 -8%, #1d004f 138%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolorem ducimus earum exercitationem
            inventore ipsum minima molestiae, nulla numquam, praesentium rem repellat sed sunt temporibus totam
            voluptate voluptates. Explicabo, pariatur!
          </p>
        </div>
        <div style="background: linear-gradient(220.16deg, #fa027c -8%, #523301 138%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at blanditiis consequuntur corporis
            deserunt doloribus, eos laudantium maxime molestias necessitatibus, nemo pariatur quasi quo saepe similique,
            sunt ullam unde?
          </p>
        </div>
        <div style="background: linear-gradient(220.16deg, #b7b4b4 -8%, #4d003a 138%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at blanditiis consequuntur corporis
            deserunt doloribus, eos laudantium maxime molestias necessitatibus, nemo pariatur quasi quo saepe similique,
            sunt ullam unde?
          </p>
        </div>
        <div style="background: linear-gradient(220.16deg, #33cb98 -8%, #9a4e87 138%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at blanditiis consequuntur corporis
            deserunt doloribus, eos laudantium maxime molestias necessitatibus, nemo pariatur quasi quo saepe similique,
            sunt ullam unde?
          </p>
        </div>
        <div style="background: linear-gradient(220.16deg, #a94b4b -8%, rgba(4, 190, 173, 0.65) 138%)">
          <h1>Lorem</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at blanditiis consequuntur corporis
            deserunt doloribus, eos laudantium maxime molestias necessitatibus, nemo pariatur quasi quo saepe similique,
            sunt ullam unde?
          </p>
        </div>
      </div>
      <div class="main-slide">
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1536098561742-ca998e48cbcc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=836&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1536890992765-f42a1ee1e2a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1615360754735-cea8c8372af3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1542468661-5c3ed78650b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1611457194403-d3aca4cf9d11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1494588024300-e9df7ff98d78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=684&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1616836202011-db10fa3b9204?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=702&q=80');
          "
        ></div>
        <div
          style="
            background-image: url('https://images.unsplash.com/photo-1491884662610-dfcd28f30cfb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
          "
        ></div>
      </div>
      <div class="controls">
        <button class="down-button">
          <span class="material-symbols-outlined"> arrow_drop_up </span>
        </button>
        <button class="up-button">
          <span class="material-symbols-outlined"> arrow_drop_down </span>
        </button>
      </div>
    </div>
  </body>
</html>
